{% extends 'base.html.twig' %}

{% block description %}Accueil{% endblock %}

{% block title %}Accueil{% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('index') }}
    {% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div id="map" class="jumbotron">
                    <h2 class="display-3">Viens jouer !</h2>
                    <p class="lead">Relève les défis !</p>
                    <hr class="my-4">
                    <p>Un petit jeu sympa</p>
                    <p class="lead">
                        <a class="btn btn-success btn-lg" href="#" role="button">Learn more</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="offset-6 col-6">
                <div id="quizz" class="jumbotron">
                    <h2 class="display-3">Quizz</h2>
                    <p class="lead">Teste tes connaissances</p>
                    <hr class="my-4">
                    <p>Un petit jeu sympa</p>
                    <p class="lead">
                        <a class="btn btn-success btn-lg" href="#" role="button">Learn more</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div id="know" class="jumbotron">
                    <h2 class="display-3">Le savais-tu ?</h2>
                    <p class="lead">Relève les défis !</p>
                    <hr class="my-4">
                    <p>Un petit jeu sympa</p>
                    <p class="lead">
                        <a class="btn btn-success btn-lg" href="#" role="button">Learn more</a>
                    </p>
                </div>
            </div>
        </div>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('index') }}
{% endblock %}
