#map {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
#map-cercle {
  display: block;
  width: 250px;
  height: 250px;
  margin: 25px auto 0;
  background-color: #0159b3;
  border-radius: 50%;
  box-shadow: inset -25px -25px 40px rgba(0,0,0,.5);
  background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
}

#quizz {
  display: block;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

#know {
  display: block;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

b.cercle {
  display: block;
  width: 200px;
  height: 200px;
  margin: 25px auto 0;
  background-color: #0159b3;
  border-radius: 50%;
  box-shadow: inset -25px -25px 40px rgba(0,0,0,.5);
  background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
}